.rating {
    /*display: flex;*/
    direction: rtl;
    /*margin-left: 10px;*/

}

.rating>input {
    /*display: none*/
    opacity: 0;
}

.rating>label {
    /*position: relative;*/
    width: 1em;
    font-size: 1.5em;
    flex-shrink: initial;
    cursor: pointer;
    content:'☆ ';
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    color: gold;
    opacity: 0.5;
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    color: #ea0;
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}


/************************************************************************************/

/*.rating {*/
/*    float:left;*/
/*    border:none;*/
/*}*/
/*.rating:not(:checked) > input {*/
/*    position:absolute;*/
/*    top:-9999px;*/
/*    clip:rect(0, 0, 0, 0);*/
/*}*/
/*.rating:not(:checked) > label {*/
/*    float:right;*/
/*    width:1em;*/
/*    padding:0 .1em;*/
/*    overflow:hidden;*/
/*    white-space:nowrap;*/
/*    cursor:pointer;*/
/*    font-size:200%;*/
/*    line-height:1.2;*/
/*    color:#ddd;*/
/*}*/
/*.rating:not(:checked) > label:before {*/
/*    content:'★ ';*/
/*}*/
/*.rating > input:checked ~ label {*/
/*    color: #f70;*/
/*}*/
/*.rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {*/
/*    color: gold;*/
/*}*/
/*.rating > input:checked + label:hover, .rating > input:checked + label:hover ~ label, .rating > input:checked ~ label:hover, .rating > input:checked ~ label:hover ~ label, .rating > label:hover ~ input:checked ~ label {*/
/*    color: #ea0;*/
/*}*/
/*.rating > label:active {*/
/*    position:relative;*/
/*}*/